	<div class="header_image">
		<%= image_tag "marketing.png" %>
	</div>

<div class="eleven columns offset-by-one marketing">

	<h4><i class="fa fa-sitemap"></i> Online Marketing Services</h4>

	<div class="row">

		<div class="five columns">

			<h2><i class="fa fa-cogs"></i> Main Marketing Services</h2>
			<hr class="light">
			<h3>We can:</h3>
			<br />
				<ol>
					<li>Upload Blogs and Monitor comments</li>
					<li>Suggest Social Media Content Ideas</li>
					<li>Update Twitter Profile and Followers</li>
					<li>Create Facebook Fan Page and Find Fans</li>
					<li>Integrate and process Google Analitycs Reports</li>
					<li>Create PPC Campaigns</li>
					<li>Optimize Content for Organic Search for SEO</li>
					<li>Create and Manage Affiliate Marketing</li>
				</ol>			
		</div>

		<div class="five columns">
		
			<h2><i class="fa fa-bullhorn"></i> Other Marketing Services</h2>
			<hr class="light">
			<h3>We can:</h3>
			<br />
				<ol>
					<li>Do Video Marketing</li>
					<li>Do Create Link building</li>
					<li>Prepare and E-Mail/Mail Materials</li>
					<li>Create Newsletters</li>
					<li>Prepare PowerPoint Presentations</li>
					<li>Do Data Mining to Build a Database</li>
					<li>Post Ads and Blog Entries</li>
					<li>Write or Revise Articles & Post Online</li>
				</ol>
		</div>

		<div class="seven columns offset-by-one">
		<br />
		<br />
		<%= active_link_to "Request a quote", new_contact_path, class: "button" %>
		<br />

		</div>
	</div>

</div>
