<div class="eleven columns offset-by-one video">

	<h4><i class="fa fa-video-camera"></i> Video Production Services</h4>

	<div class="row">

		<div class="side_image">
			<%= image_tag "video.png" %>
		</div>

		<%= image_tag "play.png", width: '100' %>
		<br />
		<br />
		<h2><i class="fa fa-youtube"></i> Edition and Production Services</h2>
		<hr class="light">
		<br />
		<p>If you need great video production for your website, social media, and email marketing campaigns with profesional quality, we have a staff of experienced, business-focused editors ready to transform your raw footage into a great final solution ready with the latest standards.</p>
		<h5>How is the process?</h5>
		<p>I.- You can send your video to us by the cloud system (Google Drive, Dropbox, WeTransfer, etc.), or shipping to us using the normal post services.</p>
		<p>II.- You can select a video editing format from a number of video editing formats availables:</p>
		<ol>
			<li>3GPP Movie (.3gp)
			<li>DV stream (.dv)</li>
			<li>Flash Video (.flv, .f4v)</li>
			<li>Microsoft AVI (.avi)</li>
			<li>MPEG-1 (.mpg)</li>
			<li>MPEG-2 (.m2v, .mpg)</li>
			<li>MPEG-4 (.m4v)</li>
			<li>Panasonic P2 (.mxf)</li>
			<li>QuickTime Movie (.mov)</li>
			<li>Windows Media (.wma, .wmv)</li>
		</ol>
		<br />

		<p>III.- When the process of editing your video is complete, we'll deliver the final product through the Cloud.</p>
		
		<%= active_link_to "Request a cuote", new_contact_path, class: "button" %>
		
	</div>

</li>










