<div class="ten columns offset-by-one webdevelopment">

	<div class="row">
		<h5>E-commerce from mobile (Desktop, Laptop, Tablet, Mobile)</h5>
		<h2>On-line Shop (E-Commerce):</h2>
		<hr class="light">
		<p>Dynamic Stores Solutions with admin control panel (CMS) for easy maintenance and updating by the client. Responsive Design: Design oriented and optimized for the correct visualization and interaction in existing mobile devices: phones, tablet computers, laptops and desktops.</p>
		<hr class="light">

		<p>Functions included:</p>

	    <ol>
	    	<li>Homepage with trade business presentation or automatically changing images (Slideshow) and featured products or recent products. Search function on the site for all products.</li>
	    	<li>About us page and the history of business.</li>
	    	<li>Online store with all products with images. Sections ordered by categories and subcategories, Stock control, Shopping Cart, PayPal System and TPV online payment. Automatic Social networking share buttons.<br />
	    	Note: Introduction of the first 20 products.</li>
	    	<li>User profile private section with address, orders, etc.</li>
	    	<li>Explanation of the buying process through the application.</li>
	    	<li>News Section, Deals and articles in blog format.</li>
	    	<li>Contact form.</li>
	    	<li>Geolocalization with Google map function.</li>
	    	<li>Management and administration of domain names and web hosting first year included in the price.</li>
	    </ol>
	    <br />

	    <h4>Optional features may include (price on request):</h4>
	    <p>Special SEO positioning.
	    <br />Online Marketing specialisized and customized to communication strategy.</p>
		<br />	    

	</div>


	<div class="row">
		<h5>Corporate Websites, with Blogs or other Requirements</h5>
		<h2>Corporate Website:</h2>
		<hr class="light">
		<p>Dynamic Sites Solutions with admin control panel (CMS) for easy maintenance and updating by the client.
		Responsive Design: Design oriented and optimized for the correct visualization and interaction in existing mobile devices: phones, tablet computers, laptops and desktops.</p>
		<hr class="light">

		<p>Functions included:</p>

	    <ol>
	    	<li>Home page with the business, trade or company´s presentation, with automatically changing images (Slideshow).
	    	<li>Search function on the site.</li>
	    	<li>About us page and history of the entity.</li>
	    	<li>Services or products catalog with images.</li>
	    	<li>Images gallery.</li>
	    	<li>Contact form.</li>
	    	<li>Google map with automatic routing function.</li>
	    	<li>Management and administration of domain names and web hosting first year included in the price.</li>
	    </ol>
	    <br />

	    <h4>Optional features may include (price on request):</h4>
	    <p>Blog for news, offers and interest articles.
	    <br />Private content (files and folders) and password controlled.</p>
	    <br />

	</div>

	<div class="row">
		<h5>Custom Web Applications</h5>
		<h2>Custom Web Applications:</h2>
		<hr class="light">
		<p>This service is geared to meet specialized customer needs in high-level digital solutions. The idea is to provide support and resources both design and programming special ideas and innovative solely with the objective of creating a collaborative system in which customers benefit from the exclusivity of bespoke and custom projects under the highest standards current</p>
		<hr class="light">

		<p>Responsive Design: Design oriented and optimized for the correct visualization and interaction in existing mobile devices: phones, tablet computers, laptops and desktops.</p>

		<p>Design and custom programming. Web Applications solutions with direct benefits: Collection services or information through SMS, tools and premium content, etc.</p>

	    <h4>Functions may included this service:</h4>
	    <p>Management and administration of domain names and web hosting.
	    <br />SEO positioning specialized.
	    <br />On-line & off-lineMarketing.</p>

	</div>


</div>