
<div class="eleven columns offset-by-one contact">

	<h2>Please, feel free to send us your enquires.<br />We'll reply to you as soon as possible.</h2>
	<h4>Below you can find our location in Google Maps.</h4>


	<div class="five columns">
		
		<div>
			<script type="text/javascript" src="http://forms.aweber.com/form/81/1351740981.js"></script>
		</div>

		<div class="map">

			<iframe width="620" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps/ms?msa=0&amp;msid=214869150950037271653.0004ed1bb4c69424518b2&amp;hl=es&amp;ie=UTF8&amp;t=m&amp;ll=51.515533,-0.071524&amp;spn=0,0&amp;output=embed"></iframe><br /><small>Ver <a href="https://maps.google.com/maps/ms?msa=0&amp;msid=214869150950037271653.0004ed1bb4c69424518b2&amp;hl=es&amp;ie=UTF8&amp;t=m&amp;ll=51.515533,-0.071524&amp;spn=0,0&amp;source=embed" style="color:#0000FF;text-align:left">Purple Stone Group</a> en un mapa más grande</small>

		</div>

	</div>

	<div class="three columns offset-by-two">

		<h2><%= t('.address') %></h2>
		<hr class="light">
		<p><i class="fa fa-map-marker"></i> 2nd Floor<br />
		101 Whitechapel High Street,<br />
		London, E1 7RA</p>
		<h2><%= t('.opening') %></h2>
		<hr class="light">
		<p><i class="fa fa-clock-o"></i> 09:00 - 4:30 pm</p>

	</div>


</div>